.dashboard{
    min-width: 500px;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.sidebar{
    display: flex;
    gap: .5rem;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (width > 768px){ 
    .dashboard{
        min-width: 100%;
        justify-content: center;
        flex-direction: row;
    }
    .sidebar{
        flex-direction: column;
        align-self: start;
    }
}