.header{
    background-color: #242424;
    border: 1px solid transparent;
    border-bottom-color: #646cff;
    color: #fff;
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;

}

.navigation{
    background-color: white;
}
.navigation ul{
    background-color: wheat;

    padding: .5rem 1rem;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.spacer{
    flex: 1 1 auto;
}

.actions{
    background-color: green;
    padding: 1rem;


}

