.header{
    min-width: 500px;
    padding-bottom: 1rem;
    border: 1px solid #646cff;

    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    background-color: #1a1a1a;   

    box-shadow: 0 0 20px #8e94ff;
    /* filter: drop-shadow(0 0 10px #8e94ff); */
       
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo{
    padding: .5rem;
    font-size: 2em;
    line-height: 1.1;
    min-width: 10%;
}

.section-right{
    padding: .5rem;
    min-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;  
}

.navigation{
    padding: .5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}


.btn-icon{
    background-color: transparent !important;
    outline: none !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
}
    .btn-icon:hover {
        border-color: none !important;
    }
    .btn-icon:focus,
    .btn-icon:focus-visible {
        outline: none !important;
    }

.navlink{
    border: 1px solid transparent;
    transition: all 0.3s;
    padding: 0.5rem .8rem;
    border-radius: .5rem;
}
    .navlink:hover{
        color: #8e94ff !important;
    }
    .navlink.active{
        border-color: #646cff !important;
        color: #646cff !important;
    }

.actions{
    padding: .5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cart{
    margin-right: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

@media (width > 600px){ 
    .header{
        height: 90px;
        flex-direction: row;
        justify-content: space-between;
        padding: .5rem 4rem;
        
        border-left-color: #646cff;
        border-right-color: #646cff;
        border-bottom-color: #646cff;
    
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    .section-right{  
        justify-content: end;
        flex-direction: row;
    }
    .actions{
        margin-left: 4rem;
    }
}