/* @import "~balloon-css/src/balloon"; */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #232222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --balloon-border-radius: .5rem;
  --balloon-color: #646cff;
  --balloon-font-size: .8rem;
  --balloon-move : 10px
}

a {
  text-decoration: none;
  color: #646cff;
}
  a:hover {
    color: #8e94ff;
    cursor: pointer;
  }

body {
  margin: 0;  
  min-width: 320px;
  min-height: 100vh;
}

.main{
  display: grid;
  place-items: center;
  min-height: 100vh;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #646cff;
  cursor: pointer;
  transition: border-color 0.25s;
}
  button:hover {
    border-color: #646cff;
    color: #8e94ff;;
  }
  button:focus,
  button:focus-visible {
    outline: 1px solid #646cff;
  }
  

.notifications{
  transform: translate(0, 243px);
}

.title{
  color: #646cff !important;
}

.form-title{
  text-align: center;
  font-size: 3rem;
  margin-top: 0;
}

.form-section{

  display: flex;
  justify-content: space-between;
  align-items: start;

}
.form-field{
  width: 90%;
  padding: 0 1rem;
  margin-bottom: .5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

}

.form-label{
  display: block;
}

.form-control{
  width: 100%;
  padding: .8rem 0.5rem;
  border-radius: .5rem;
  outline: transparent;
  border: 1px solid transparent;
}
  .form-control:hover{  
    border: 1px solid #646cff;
  }
  .form-control:focus{  
    border: 1px solid #fff;
  }

.btn-field{
  text-align: center;
  margin-top: 1rem;
}

.btn-full{
  width: 60% !important;
  padding: 1rem;
  text-align: center;
}

.spacer{
  flex: 1 1 auto;
}

.icon{
  color: #646cff;
  padding: 0.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
  .icon:hover{
    cursor: pointer;
    color: #8e94ff;
    box-shadow: 0 0 15px #8e94ff;
  }

.pointer{
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (width > 600px){ 
  .notifications{
    transform: translate(0, 105px);
  }
}
